---
interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;
---
<div class="m-sticky-cta">
  <span>Financement OPCO possible.</span>
  <a href={href}>{label}</a>
</div>
